.card {
    display: flex;
    background-color: white;
    flex-direction: column;
    min-width: 20%;
    max-width: 30%;
    margin:0em 2em;
    padding:1em;
    border-bottom: 1px solid var(--secondary-color);
}

.card h2 {
    text-align: center;
}

.card .content {
    text-align: justify;
}