input {
    padding:0.4em 0.6em;
    border-radius: 6px;
}

input.outline {
    border: 1px solid var(--primary-color);
}

input.default {
    background-color: var(--primary-color);
    border:1px solid transparent;
    color: var(--main-white);
}

input.search {
    border-radius: 6px 0 0px 6px;
    border-right: transparent;
}

.searchButton {
    background-color: var(--main-white);
    width:40px;
    border:1px solid var(--primary-color);
    border-left: 1px solid var(--primary-color);
    border-radius: 0 6px 6px 0;
}

.searchButton:hover {
    background-color: var(--primary-color);
    color:var(--main-white);
}