input {
    padding:0.4em 0.6em;
    border-radius: 6px;
}

input.outline {
    border: 1px solid var(--primary-color);
}

input.default {
    background-color: var(--primary-color);
    border:1px solid transparent;
    color: var(--main-white);
}